body {
    margin: 0;
    height: 200vh;
}

nav {
    width: 100vw;
    height: 10vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}